$white-light-blue: #8ecae6;
$light-blue: #219ebc;
$darkblue: #023047;
$yellow: #ffb703;

$tam: 20px;
.icono {
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $tam;

    .icono-tam {
        font-size: $tam + 20px;
    }
}

.empty-block {
    width: 500px;
}

.barra-iconos {
    position: absolute;
    bottom: 60px;
    left: 150px;
}
