.circle {
  position: absolute;
  background-color: #ef233c;
  color: #ef233c;
  color: #ef233c;
  width: 100px;
  height: 2px;
}

.particles-bg {
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes circle0 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle0 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(0) {
  top: 14%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle0;
          animation-name: circle0;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15.3s;
          animation-duration: 15.3s;
  opacity: 0.5;
}

@-webkit-keyframes circle1 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle1 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(1) {
  top: 87%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle1;
          animation-name: circle1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  opacity: 0.5;
}

@-webkit-keyframes circle2 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle2 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(2) {
  top: 53%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle2;
          animation-name: circle2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  opacity: 0.5;
}

@-webkit-keyframes circle3 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle3 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(3) {
  top: 92%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle3;
          animation-name: circle3;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 16.2s;
          animation-duration: 16.2s;
  opacity: 0.5;
}

@-webkit-keyframes circle4 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle4 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(4) {
  top: 9%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle4;
          animation-name: circle4;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 16.5s;
          animation-duration: 16.5s;
  opacity: 0.5;
}

@-webkit-keyframes circle5 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle5 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(5) {
  top: 43%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle5;
          animation-name: circle5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  opacity: 0.5;
}

@-webkit-keyframes circle6 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle6 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(6) {
  top: 65%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle6;
          animation-name: circle6;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  opacity: 0.5;
}

@-webkit-keyframes circle7 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle7 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(7) {
  top: 91%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle7;
          animation-name: circle7;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  opacity: 0.5;
}

@-webkit-keyframes circle8 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle8 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(8) {
  top: 54%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle8;
          animation-name: circle8;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  opacity: 0.5;
}

@-webkit-keyframes circle9 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle9 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(9) {
  top: 51%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle9;
          animation-name: circle9;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2.7s;
          animation-duration: 2.7s;
  opacity: 0.5;
}

@-webkit-keyframes circle10 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle10 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(10) {
  top: 18%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle10;
          animation-name: circle10;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  opacity: 0.5;
}

@-webkit-keyframes circle11 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle11 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(11) {
  top: 37%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle11;
          animation-name: circle11;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
  opacity: 0.5;
}

@-webkit-keyframes circle12 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle12 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(12) {
  top: 34%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle12;
          animation-name: circle12;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
  opacity: 0.5;
}

@-webkit-keyframes circle13 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle13 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(13) {
  top: 87%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle13;
          animation-name: circle13;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.9s;
          animation-duration: 3.9s;
  opacity: 0.5;
}

@-webkit-keyframes circle14 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle14 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(14) {
  top: 13%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle14;
          animation-name: circle14;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4.2s;
          animation-duration: 4.2s;
  opacity: 0.5;
}

@-webkit-keyframes circle15 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle15 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(15) {
  top: 34%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle15;
          animation-name: circle15;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
  opacity: 0.5;
}

@-webkit-keyframes circle16 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle16 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(16) {
  top: 14%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle16;
          animation-name: circle16;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
  opacity: 0.5;
}

@-webkit-keyframes circle17 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle17 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(17) {
  top: 2%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle17;
          animation-name: circle17;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5.1s;
          animation-duration: 5.1s;
  opacity: 0.5;
}

@-webkit-keyframes circle18 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle18 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(18) {
  top: 70%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle18;
          animation-name: circle18;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5.4s;
          animation-duration: 5.4s;
  opacity: 0.5;
}

@-webkit-keyframes circle19 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle19 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(19) {
  top: 55%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle19;
          animation-name: circle19;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5.7s;
          animation-duration: 5.7s;
  opacity: 0.5;
}

@-webkit-keyframes circle20 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle20 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(20) {
  top: 85%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle20;
          animation-name: circle20;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  opacity: 0.5;
}

@-webkit-keyframes circle21 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle21 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(21) {
  top: 24%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle21;
          animation-name: circle21;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6.3s;
          animation-duration: 6.3s;
  opacity: 0.5;
}

@-webkit-keyframes circle22 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle22 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(22) {
  top: 95%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle22;
          animation-name: circle22;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6.6s;
          animation-duration: 6.6s;
  opacity: 0.5;
}

@-webkit-keyframes circle23 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle23 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(23) {
  top: 97%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle23;
          animation-name: circle23;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6.9s;
          animation-duration: 6.9s;
  opacity: 0.5;
}

@-webkit-keyframes circle24 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle24 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(24) {
  top: 25%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle24;
          animation-name: circle24;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7.2s;
          animation-duration: 7.2s;
  opacity: 0.5;
}

@-webkit-keyframes circle25 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle25 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(25) {
  top: 42%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle25;
          animation-name: circle25;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7.5s;
          animation-duration: 7.5s;
  opacity: 0.5;
}

@-webkit-keyframes circle26 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle26 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(26) {
  top: 31%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle26;
          animation-name: circle26;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7.8s;
          animation-duration: 7.8s;
  opacity: 0.5;
}

@-webkit-keyframes circle27 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle27 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(27) {
  top: 71%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle27;
          animation-name: circle27;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8.1s;
          animation-duration: 8.1s;
  opacity: 0.5;
}

@-webkit-keyframes circle28 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle28 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(28) {
  top: 44%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle28;
          animation-name: circle28;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8.4s;
          animation-duration: 8.4s;
  opacity: 0.5;
}

@-webkit-keyframes circle29 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle29 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(29) {
  top: 27%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle29;
          animation-name: circle29;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8.7s;
          animation-duration: 8.7s;
  opacity: 0.5;
}

@-webkit-keyframes circle30 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle30 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(30) {
  top: 9%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle30;
          animation-name: circle30;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  opacity: 0.5;
}

@-webkit-keyframes circle31 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle31 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(31) {
  top: 53%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle31;
          animation-name: circle31;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9.3s;
          animation-duration: 9.3s;
  opacity: 0.5;
}

@-webkit-keyframes circle32 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle32 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(32) {
  top: 89%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle32;
          animation-name: circle32;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9.6s;
          animation-duration: 9.6s;
  opacity: 0.5;
}

@-webkit-keyframes circle33 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle33 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(33) {
  top: 64%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle33;
          animation-name: circle33;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9.9s;
          animation-duration: 9.9s;
  opacity: 0.5;
}

@-webkit-keyframes circle34 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle34 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(34) {
  top: 63%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle34;
          animation-name: circle34;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  opacity: 0.5;
}

@-webkit-keyframes circle35 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle35 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(35) {
  top: 6%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle35;
          animation-name: circle35;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  opacity: 0.5;
}

@-webkit-keyframes circle36 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle36 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(36) {
  top: 65%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle36;
          animation-name: circle36;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10.8s;
          animation-duration: 10.8s;
  opacity: 0.5;
}

@-webkit-keyframes circle37 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle37 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(37) {
  top: 41%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle37;
          animation-name: circle37;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 11.1s;
          animation-duration: 11.1s;
  opacity: 0.5;
}

@-webkit-keyframes circle38 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle38 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(38) {
  top: 87%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle38;
          animation-name: circle38;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 11.4s;
          animation-duration: 11.4s;
  opacity: 0.5;
}

@-webkit-keyframes circle39 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle39 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(39) {
  top: 44%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle39;
          animation-name: circle39;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 11.7s;
          animation-duration: 11.7s;
  opacity: 0.5;
}

@-webkit-keyframes circle40 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle40 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(40) {
  top: 43%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle40;
          animation-name: circle40;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  opacity: 0.5;
}

@-webkit-keyframes circle41 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle41 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(41) {
  top: 8%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle41;
          animation-name: circle41;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  opacity: 0.5;
}

@-webkit-keyframes circle42 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle42 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(42) {
  top: 23%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle42;
          animation-name: circle42;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12.6s;
          animation-duration: 12.6s;
  opacity: 0.5;
}

@-webkit-keyframes circle43 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle43 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(43) {
  top: 1%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle43;
          animation-name: circle43;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12.9s;
          animation-duration: 12.9s;
  opacity: 0.5;
}

@-webkit-keyframes circle44 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle44 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(44) {
  top: 96%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle44;
          animation-name: circle44;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 13.2s;
          animation-duration: 13.2s;
  opacity: 0.5;
}

@-webkit-keyframes circle45 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle45 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(45) {
  top: 78%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle45;
          animation-name: circle45;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  opacity: 0.5;
}

@-webkit-keyframes circle46 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle46 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(46) {
  top: 82%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle46;
          animation-name: circle46;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 13.8s;
          animation-duration: 13.8s;
  opacity: 0.5;
}

@-webkit-keyframes circle47 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle47 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(47) {
  top: 39%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle47;
          animation-name: circle47;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 14.1s;
          animation-duration: 14.1s;
  opacity: 0.5;
}

@-webkit-keyframes circle48 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle48 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(48) {
  top: 11%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle48;
          animation-name: circle48;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 14.4s;
          animation-duration: 14.4s;
  opacity: 0.5;
}

@-webkit-keyframes circle49 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle49 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(49) {
  top: 81%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle49;
          animation-name: circle49;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 14.7s;
          animation-duration: 14.7s;
  opacity: 0.5;
}

@-webkit-keyframes circle50 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle50 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(50) {
  top: 29%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle50;
          animation-name: circle50;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  opacity: 0.5;
}

@-webkit-keyframes circle51 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

@keyframes circle51 {
  0% {
    left: -1000px;
  }
  100% {
    left: 100%;
  }
}

.circle:nth-child(51) {
  top: 9%;
  left: -1000px;
  position: absolute;
  -webkit-animation-name: circle51;
          animation-name: circle51;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15.3s;
          animation-duration: 15.3s;
  opacity: 0.5;
}
/*# sourceMappingURL=particles.css.map */