@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  height: 100vh;
  overflow: hidden;
}

.App {
  overflow: hidden;
}

.shine {
  overflow: hidden;
}

.shine::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 70px;
  height: 20%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.425)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.425) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.logoshine {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@-webkit-keyframes slide {
  0% {
    left: -100px;
    bottom: 0%;
  }
  30% {
    left: 2000px;
    bottom: 0%;
  }
  100% {
    left: 2000px;
    bottom: 0%;
  }
}

@keyframes slide {
  0% {
    left: -100px;
    bottom: 0%;
  }
  30% {
    left: 2000px;
    bottom: 0%;
  }
  100% {
    left: 2000px;
    bottom: 0%;
  }
}

@media screen and (max-width: 500px) {
  .circulo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.wrapper {
  background-color: #221a4d;
  background-image: url("./fondo.png");
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.wrapper-gg {
  background-color: #a73030;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.final {
  color: #febf1a;
  -webkit-animation: 3s textfinal ease infinite alternate;
          animation: 3s textfinal ease infinite alternate;
  z-index: 99;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes textfinal {
  0% {
    color: #febf1a;
  }
  50% {
    color: #f59d1d;
  }
  100% {
    color: #f37a1e;
  }
}

@keyframes textfinal {
  0% {
    color: #febf1a;
  }
  50% {
    color: #f59d1d;
  }
  100% {
    color: #f37a1e;
  }
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.up {
  z-index: 9999;
}

.timer {
  font-family: "Roboto" !important;
  font-weight: 900 !important;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 10px #000;
}

.character {
  opacity: 0.5;
  position: absolute;
  left: 29%;
  height: 600px;
  width: auto;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes aparecer1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer1 {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

img.character:nth-child(1) {
  -webkit-animation: 20s aparecer1 ease infinite;
          animation: 20s aparecer1 ease infinite;
}

@-webkit-keyframes aparecer2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.5;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

img.character:nth-child(2) {
  -webkit-animation: 20s aparecer2 ease infinite;
          animation: 20s aparecer2 ease infinite;
}

@-webkit-keyframes aparecer3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

img.character:nth-child(3) {
  -webkit-animation: 20s aparecer3 ease infinite;
          animation: 20s aparecer3 ease infinite;
}

.character-out {
  left: 50%;
}

.value {
  font-family: "Roboto" !important;
  font-weight: 900 !important;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 10px #000;
}

.empezando {
  font-size: 50px;
}

.empezando::after {
  content: "";
  -webkit-animation: 2s puntos linear infinite;
          animation: 2s puntos linear infinite;
}

.logoF {
  -webkit-animation: 1s aumento ease infinite alternate;
          animation: 1s aumento ease infinite alternate;
}

@-webkit-keyframes aumento {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes aumento {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@-webkit-keyframes puntos {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes puntos {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

span.square {
  background-color: #220200;
  width: 70%;
  height: 100%;
  border-right: 191px solid #220200;
  opacity: 0.5;
  position: absolute;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  -webkit-animation: leftright 50s ease infinite alternate;
          animation: leftright 50s ease infinite alternate;
}

@-webkit-keyframes leftright {
  0% {
    left: 40%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
  50% {
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
  }
  100% {
    left: 60%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
}

@keyframes leftright {
  0% {
    left: 40%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
  50% {
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
  }
  100% {
    left: 60%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
}

span.triangle:nth-child(0) {
  width: 0;
  height: 0;
  border-top: 94px solid transparent;
  border-right: 166px solid #2a356d;
  border-bottom: 76px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 1vh;
  left: 86vw;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
  -webkit-animation: 100s move0 infinite linear alternate;
          animation: 100s move0 infinite linear alternate;
}

@-webkit-keyframes move0 {
  0% {
    top: 1vh;
    left: 86vw;
    -webkit-transform: rotate(151deg);
            transform: rotate(151deg);
  }
  100% {
    top: 89vh;
    left: 53vw;
    -webkit-transform: rotate(247deg);
            transform: rotate(247deg);
  }
}

@keyframes move0 {
  0% {
    top: 1vh;
    left: 86vw;
    -webkit-transform: rotate(151deg);
            transform: rotate(151deg);
  }
  100% {
    top: 89vh;
    left: 53vw;
    -webkit-transform: rotate(247deg);
            transform: rotate(247deg);
  }
}

span.triangle:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 64px solid transparent;
  border-right: 105px solid #2a356d;
  border-bottom: 62px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 21vh;
  left: 14vw;
  -webkit-transform: rotate(262deg);
          transform: rotate(262deg);
  -webkit-animation: 100s move1 infinite linear alternate;
          animation: 100s move1 infinite linear alternate;
}

@-webkit-keyframes move1 {
  0% {
    top: 21vh;
    left: 14vw;
    -webkit-transform: rotate(281deg);
            transform: rotate(281deg);
  }
  100% {
    top: 9vh;
    left: 21vw;
    -webkit-transform: rotate(88deg);
            transform: rotate(88deg);
  }
}

@keyframes move1 {
  0% {
    top: 21vh;
    left: 14vw;
    -webkit-transform: rotate(281deg);
            transform: rotate(281deg);
  }
  100% {
    top: 9vh;
    left: 21vw;
    -webkit-transform: rotate(88deg);
            transform: rotate(88deg);
  }
}

span.triangle:nth-child(2) {
  width: 0;
  height: 0;
  border-top: 71px solid transparent;
  border-right: 130px solid #2a356d;
  border-bottom: 93px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 2vh;
  left: 16vw;
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
  -webkit-animation: 100s move2 infinite linear alternate;
          animation: 100s move2 infinite linear alternate;
}

@-webkit-keyframes move2 {
  0% {
    top: 2vh;
    left: 16vw;
    -webkit-transform: rotate(202deg);
            transform: rotate(202deg);
  }
  100% {
    top: 16vh;
    left: 81vw;
    -webkit-transform: rotate(193deg);
            transform: rotate(193deg);
  }
}

@keyframes move2 {
  0% {
    top: 2vh;
    left: 16vw;
    -webkit-transform: rotate(202deg);
            transform: rotate(202deg);
  }
  100% {
    top: 16vh;
    left: 81vw;
    -webkit-transform: rotate(193deg);
            transform: rotate(193deg);
  }
}

span.triangle:nth-child(3) {
  width: 0;
  height: 0;
  border-top: 54px solid transparent;
  border-right: 188px solid #2a356d;
  border-bottom: 58px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 64vh;
  left: 94vw;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  -webkit-animation: 100s move3 infinite linear alternate;
          animation: 100s move3 infinite linear alternate;
}

@-webkit-keyframes move3 {
  0% {
    top: 64vh;
    left: 94vw;
    -webkit-transform: rotate(187deg);
            transform: rotate(187deg);
  }
  100% {
    top: 3vh;
    left: 87vw;
    -webkit-transform: rotate(21deg);
            transform: rotate(21deg);
  }
}

@keyframes move3 {
  0% {
    top: 64vh;
    left: 94vw;
    -webkit-transform: rotate(187deg);
            transform: rotate(187deg);
  }
  100% {
    top: 3vh;
    left: 87vw;
    -webkit-transform: rotate(21deg);
            transform: rotate(21deg);
  }
}

span.triangle:nth-child(4) {
  width: 0;
  height: 0;
  border-top: 95px solid transparent;
  border-right: 149px solid #2a356d;
  border-bottom: 73px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 95vh;
  left: 38vw;
  -webkit-transform: rotate(86deg);
          transform: rotate(86deg);
  -webkit-animation: 100s move4 infinite linear alternate;
          animation: 100s move4 infinite linear alternate;
}

@-webkit-keyframes move4 {
  0% {
    top: 95vh;
    left: 38vw;
    -webkit-transform: rotate(192deg);
            transform: rotate(192deg);
  }
  100% {
    top: 74vh;
    left: 88vw;
    -webkit-transform: rotate(195deg);
            transform: rotate(195deg);
  }
}

@keyframes move4 {
  0% {
    top: 95vh;
    left: 38vw;
    -webkit-transform: rotate(192deg);
            transform: rotate(192deg);
  }
  100% {
    top: 74vh;
    left: 88vw;
    -webkit-transform: rotate(195deg);
            transform: rotate(195deg);
  }
}

span.triangle:nth-child(5) {
  width: 0;
  height: 0;
  border-top: 54px solid transparent;
  border-right: 194px solid #2a356d;
  border-bottom: 60px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 2vh;
  left: 8vw;
  -webkit-transform: rotate(254deg);
          transform: rotate(254deg);
  -webkit-animation: 100s move5 infinite linear alternate;
          animation: 100s move5 infinite linear alternate;
}

@-webkit-keyframes move5 {
  0% {
    top: 2vh;
    left: 8vw;
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg);
  }
  100% {
    top: 39vh;
    left: 71vw;
    -webkit-transform: rotate(256deg);
            transform: rotate(256deg);
  }
}

@keyframes move5 {
  0% {
    top: 2vh;
    left: 8vw;
    -webkit-transform: rotate(185deg);
            transform: rotate(185deg);
  }
  100% {
    top: 39vh;
    left: 71vw;
    -webkit-transform: rotate(256deg);
            transform: rotate(256deg);
  }
}

span.triangle:nth-child(6) {
  width: 0;
  height: 0;
  border-top: 81px solid transparent;
  border-right: 163px solid #2a356d;
  border-bottom: 67px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 66vh;
  left: 77vw;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
  -webkit-animation: 100s move6 infinite linear alternate;
          animation: 100s move6 infinite linear alternate;
}

@-webkit-keyframes move6 {
  0% {
    top: 66vh;
    left: 77vw;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    top: 99vh;
    left: 33vw;
    -webkit-transform: rotate(111deg);
            transform: rotate(111deg);
  }
}

@keyframes move6 {
  0% {
    top: 66vh;
    left: 77vw;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    top: 99vh;
    left: 33vw;
    -webkit-transform: rotate(111deg);
            transform: rotate(111deg);
  }
}

span.triangle:nth-child(7) {
  width: 0;
  height: 0;
  border-top: 53px solid transparent;
  border-right: 123px solid #2a356d;
  border-bottom: 78px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 91vh;
  left: 36vw;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation: 100s move7 infinite linear alternate;
          animation: 100s move7 infinite linear alternate;
}

@-webkit-keyframes move7 {
  0% {
    top: 91vh;
    left: 36vw;
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  100% {
    top: 44vh;
    left: 100vw;
    -webkit-transform: rotate(87deg);
            transform: rotate(87deg);
  }
}

@keyframes move7 {
  0% {
    top: 91vh;
    left: 36vw;
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  100% {
    top: 44vh;
    left: 100vw;
    -webkit-transform: rotate(87deg);
            transform: rotate(87deg);
  }
}

span.triangle:nth-child(8) {
  width: 0;
  height: 0;
  border-top: 62px solid transparent;
  border-right: 161px solid #2a356d;
  border-bottom: 52px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 21vh;
  left: 84vw;
  -webkit-transform: rotate(343deg);
          transform: rotate(343deg);
  -webkit-animation: 100s move8 infinite linear alternate;
          animation: 100s move8 infinite linear alternate;
}

@-webkit-keyframes move8 {
  0% {
    top: 21vh;
    left: 84vw;
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
  }
  100% {
    top: 12vh;
    left: 20vw;
    -webkit-transform: rotate(230deg);
            transform: rotate(230deg);
  }
}

@keyframes move8 {
  0% {
    top: 21vh;
    left: 84vw;
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
  }
  100% {
    top: 12vh;
    left: 20vw;
    -webkit-transform: rotate(230deg);
            transform: rotate(230deg);
  }
}

span.triangle:nth-child(9) {
  width: 0;
  height: 0;
  border-top: 78px solid transparent;
  border-right: 126px solid #2a356d;
  border-bottom: 70px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 68vh;
  left: 81vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: 100s move9 infinite linear alternate;
          animation: 100s move9 infinite linear alternate;
}

@-webkit-keyframes move9 {
  0% {
    top: 68vh;
    left: 81vw;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
  100% {
    top: 70vh;
    left: 83vw;
    -webkit-transform: rotate(91deg);
            transform: rotate(91deg);
  }
}

@keyframes move9 {
  0% {
    top: 68vh;
    left: 81vw;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
  100% {
    top: 70vh;
    left: 83vw;
    -webkit-transform: rotate(91deg);
            transform: rotate(91deg);
  }
}

span.triangle:nth-child(10) {
  width: 0;
  height: 0;
  border-top: 59px solid transparent;
  border-right: 136px solid #2a356d;
  border-bottom: 56px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 26vh;
  left: 62vw;
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
  -webkit-animation: 100s move10 infinite linear alternate;
          animation: 100s move10 infinite linear alternate;
}

@-webkit-keyframes move10 {
  0% {
    top: 26vh;
    left: 62vw;
    -webkit-transform: rotate(134deg);
            transform: rotate(134deg);
  }
  100% {
    top: 32vh;
    left: 12vw;
    -webkit-transform: rotate(109deg);
            transform: rotate(109deg);
  }
}

@keyframes move10 {
  0% {
    top: 26vh;
    left: 62vw;
    -webkit-transform: rotate(134deg);
            transform: rotate(134deg);
  }
  100% {
    top: 32vh;
    left: 12vw;
    -webkit-transform: rotate(109deg);
            transform: rotate(109deg);
  }
}

span.triangle:nth-child(11) {
  width: 0;
  height: 0;
  border-top: 56px solid transparent;
  border-right: 148px solid #2a356d;
  border-bottom: 90px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 53vh;
  left: 43vw;
  -webkit-transform: rotate(224deg);
          transform: rotate(224deg);
  -webkit-animation: 100s move11 infinite linear alternate;
          animation: 100s move11 infinite linear alternate;
}

@-webkit-keyframes move11 {
  0% {
    top: 53vh;
    left: 43vw;
    -webkit-transform: rotate(109deg);
            transform: rotate(109deg);
  }
  100% {
    top: 24vh;
    left: 71vw;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes move11 {
  0% {
    top: 53vh;
    left: 43vw;
    -webkit-transform: rotate(109deg);
            transform: rotate(109deg);
  }
  100% {
    top: 24vh;
    left: 71vw;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

span.triangle:nth-child(12) {
  width: 0;
  height: 0;
  border-top: 98px solid transparent;
  border-right: 159px solid #2a356d;
  border-bottom: 83px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 71vh;
  left: 75vw;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  -webkit-animation: 100s move12 infinite linear alternate;
          animation: 100s move12 infinite linear alternate;
}

@-webkit-keyframes move12 {
  0% {
    top: 71vh;
    left: 75vw;
    -webkit-transform: rotate(102deg);
            transform: rotate(102deg);
  }
  100% {
    top: 47vh;
    left: 60vw;
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
}

@keyframes move12 {
  0% {
    top: 71vh;
    left: 75vw;
    -webkit-transform: rotate(102deg);
            transform: rotate(102deg);
  }
  100% {
    top: 47vh;
    left: 60vw;
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
}

span.triangle:nth-child(13) {
  width: 0;
  height: 0;
  border-top: 81px solid transparent;
  border-right: 122px solid #2a356d;
  border-bottom: 81px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 14vh;
  left: 24vw;
  -webkit-transform: rotate(161deg);
          transform: rotate(161deg);
  -webkit-animation: 100s move13 infinite linear alternate;
          animation: 100s move13 infinite linear alternate;
}

@-webkit-keyframes move13 {
  0% {
    top: 14vh;
    left: 24vw;
    -webkit-transform: rotate(309deg);
            transform: rotate(309deg);
  }
  100% {
    top: 8vh;
    left: 79vw;
    -webkit-transform: rotate(343deg);
            transform: rotate(343deg);
  }
}

@keyframes move13 {
  0% {
    top: 14vh;
    left: 24vw;
    -webkit-transform: rotate(309deg);
            transform: rotate(309deg);
  }
  100% {
    top: 8vh;
    left: 79vw;
    -webkit-transform: rotate(343deg);
            transform: rotate(343deg);
  }
}

span.triangle:nth-child(14) {
  width: 0;
  height: 0;
  border-top: 76px solid transparent;
  border-right: 182px solid #2a356d;
  border-bottom: 72px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 15vh;
  left: 21vw;
  -webkit-transform: rotate(118deg);
          transform: rotate(118deg);
  -webkit-animation: 100s move14 infinite linear alternate;
          animation: 100s move14 infinite linear alternate;
}

@-webkit-keyframes move14 {
  0% {
    top: 15vh;
    left: 21vw;
    -webkit-transform: rotate(323deg);
            transform: rotate(323deg);
  }
  100% {
    top: 36vh;
    left: 52vw;
    -webkit-transform: rotate(237deg);
            transform: rotate(237deg);
  }
}

@keyframes move14 {
  0% {
    top: 15vh;
    left: 21vw;
    -webkit-transform: rotate(323deg);
            transform: rotate(323deg);
  }
  100% {
    top: 36vh;
    left: 52vw;
    -webkit-transform: rotate(237deg);
            transform: rotate(237deg);
  }
}

span.triangle:nth-child(15) {
  width: 0;
  height: 0;
  border-top: 76px solid transparent;
  border-right: 178px solid #2a356d;
  border-bottom: 97px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 89vh;
  left: 99vw;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-animation: 100s move15 infinite linear alternate;
          animation: 100s move15 infinite linear alternate;
}

@-webkit-keyframes move15 {
  0% {
    top: 89vh;
    left: 99vw;
    -webkit-transform: rotate(326deg);
            transform: rotate(326deg);
  }
  100% {
    top: 35vh;
    left: 24vw;
    -webkit-transform: rotate(338deg);
            transform: rotate(338deg);
  }
}

@keyframes move15 {
  0% {
    top: 89vh;
    left: 99vw;
    -webkit-transform: rotate(326deg);
            transform: rotate(326deg);
  }
  100% {
    top: 35vh;
    left: 24vw;
    -webkit-transform: rotate(338deg);
            transform: rotate(338deg);
  }
}

span.triangle:nth-child(16) {
  width: 0;
  height: 0;
  border-top: 93px solid transparent;
  border-right: 186px solid #2a356d;
  border-bottom: 66px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 71vh;
  left: 34vw;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  -webkit-animation: 100s move16 infinite linear alternate;
          animation: 100s move16 infinite linear alternate;
}

@-webkit-keyframes move16 {
  0% {
    top: 71vh;
    left: 34vw;
    -webkit-transform: rotate(54deg);
            transform: rotate(54deg);
  }
  100% {
    top: 64vh;
    left: 18vw;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
}

@keyframes move16 {
  0% {
    top: 71vh;
    left: 34vw;
    -webkit-transform: rotate(54deg);
            transform: rotate(54deg);
  }
  100% {
    top: 64vh;
    left: 18vw;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
}

span.triangle:nth-child(17) {
  width: 0;
  height: 0;
  border-top: 99px solid transparent;
  border-right: 161px solid #2a356d;
  border-bottom: 58px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 44vh;
  left: 9vw;
  -webkit-transform: rotate(61deg);
          transform: rotate(61deg);
  -webkit-animation: 100s move17 infinite linear alternate;
          animation: 100s move17 infinite linear alternate;
}

@-webkit-keyframes move17 {
  0% {
    top: 44vh;
    left: 9vw;
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
  }
  100% {
    top: 67vh;
    left: 14vw;
    -webkit-transform: rotate(283deg);
            transform: rotate(283deg);
  }
}

@keyframes move17 {
  0% {
    top: 44vh;
    left: 9vw;
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
  }
  100% {
    top: 67vh;
    left: 14vw;
    -webkit-transform: rotate(283deg);
            transform: rotate(283deg);
  }
}

span.triangle:nth-child(18) {
  width: 0;
  height: 0;
  border-top: 73px solid transparent;
  border-right: 181px solid #2a356d;
  border-bottom: 84px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 88vh;
  left: 70vw;
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation: 100s move18 infinite linear alternate;
          animation: 100s move18 infinite linear alternate;
}

@-webkit-keyframes move18 {
  0% {
    top: 88vh;
    left: 70vw;
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
  }
  100% {
    top: 68vh;
    left: 14vw;
    -webkit-transform: rotate(181deg);
            transform: rotate(181deg);
  }
}

@keyframes move18 {
  0% {
    top: 88vh;
    left: 70vw;
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
  }
  100% {
    top: 68vh;
    left: 14vw;
    -webkit-transform: rotate(181deg);
            transform: rotate(181deg);
  }
}

span.triangle:nth-child(19) {
  width: 0;
  height: 0;
  border-top: 59px solid transparent;
  border-right: 127px solid #2a356d;
  border-bottom: 62px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 39vh;
  left: 55vw;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation: 100s move19 infinite linear alternate;
          animation: 100s move19 infinite linear alternate;
}

@-webkit-keyframes move19 {
  0% {
    top: 39vh;
    left: 55vw;
    -webkit-transform: rotate(247deg);
            transform: rotate(247deg);
  }
  100% {
    top: 36vh;
    left: 60vw;
    -webkit-transform: rotate(179deg);
            transform: rotate(179deg);
  }
}

@keyframes move19 {
  0% {
    top: 39vh;
    left: 55vw;
    -webkit-transform: rotate(247deg);
            transform: rotate(247deg);
  }
  100% {
    top: 36vh;
    left: 60vw;
    -webkit-transform: rotate(179deg);
            transform: rotate(179deg);
  }
}

span.triangle:nth-child(20) {
  width: 0;
  height: 0;
  border-top: 99px solid transparent;
  border-right: 126px solid #2a356d;
  border-bottom: 68px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 59vh;
  left: 23vw;
  -webkit-transform: rotate(331deg);
          transform: rotate(331deg);
  -webkit-animation: 100s move20 infinite linear alternate;
          animation: 100s move20 infinite linear alternate;
}

@-webkit-keyframes move20 {
  0% {
    top: 59vh;
    left: 23vw;
    -webkit-transform: rotate(357deg);
            transform: rotate(357deg);
  }
  100% {
    top: 36vh;
    left: 24vw;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
}

@keyframes move20 {
  0% {
    top: 59vh;
    left: 23vw;
    -webkit-transform: rotate(357deg);
            transform: rotate(357deg);
  }
  100% {
    top: 36vh;
    left: 24vw;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
}

span.triangle:nth-child(21) {
  width: 0;
  height: 0;
  border-top: 82px solid transparent;
  border-right: 195px solid #2a356d;
  border-bottom: 63px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 59vh;
  left: 21vw;
  -webkit-transform: rotate(146deg);
          transform: rotate(146deg);
  -webkit-animation: 100s move21 infinite linear alternate;
          animation: 100s move21 infinite linear alternate;
}

@-webkit-keyframes move21 {
  0% {
    top: 59vh;
    left: 21vw;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  100% {
    top: 94vh;
    left: 3vw;
    -webkit-transform: rotate(266deg);
            transform: rotate(266deg);
  }
}

@keyframes move21 {
  0% {
    top: 59vh;
    left: 21vw;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  100% {
    top: 94vh;
    left: 3vw;
    -webkit-transform: rotate(266deg);
            transform: rotate(266deg);
  }
}

span.triangle:nth-child(22) {
  width: 0;
  height: 0;
  border-top: 89px solid transparent;
  border-right: 121px solid #2a356d;
  border-bottom: 95px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 97vh;
  left: 33vw;
  -webkit-transform: rotate(263deg);
          transform: rotate(263deg);
  -webkit-animation: 100s move22 infinite linear alternate;
          animation: 100s move22 infinite linear alternate;
}

@-webkit-keyframes move22 {
  0% {
    top: 97vh;
    left: 33vw;
    -webkit-transform: rotate(341deg);
            transform: rotate(341deg);
  }
  100% {
    top: 91vh;
    left: 72vw;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
}

@keyframes move22 {
  0% {
    top: 97vh;
    left: 33vw;
    -webkit-transform: rotate(341deg);
            transform: rotate(341deg);
  }
  100% {
    top: 91vh;
    left: 72vw;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
}

span.triangle:nth-child(23) {
  width: 0;
  height: 0;
  border-top: 54px solid transparent;
  border-right: 167px solid #2a356d;
  border-bottom: 63px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 18vh;
  left: 91vw;
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
  -webkit-animation: 100s move23 infinite linear alternate;
          animation: 100s move23 infinite linear alternate;
}

@-webkit-keyframes move23 {
  0% {
    top: 18vh;
    left: 91vw;
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
  100% {
    top: 83vh;
    left: 93vw;
    -webkit-transform: rotate(323deg);
            transform: rotate(323deg);
  }
}

@keyframes move23 {
  0% {
    top: 18vh;
    left: 91vw;
    -webkit-transform: rotate(76deg);
            transform: rotate(76deg);
  }
  100% {
    top: 83vh;
    left: 93vw;
    -webkit-transform: rotate(323deg);
            transform: rotate(323deg);
  }
}

span.triangle:nth-child(24) {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 159px solid #2a356d;
  border-bottom: 86px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 93vh;
  left: 19vw;
  -webkit-transform: rotate(142deg);
          transform: rotate(142deg);
  -webkit-animation: 100s move24 infinite linear alternate;
          animation: 100s move24 infinite linear alternate;
}

@-webkit-keyframes move24 {
  0% {
    top: 93vh;
    left: 19vw;
    -webkit-transform: rotate(238deg);
            transform: rotate(238deg);
  }
  100% {
    top: 42vh;
    left: 42vw;
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
}

@keyframes move24 {
  0% {
    top: 93vh;
    left: 19vw;
    -webkit-transform: rotate(238deg);
            transform: rotate(238deg);
  }
  100% {
    top: 42vh;
    left: 42vw;
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
}

span.triangle:nth-child(25) {
  width: 0;
  height: 0;
  border-top: 64px solid transparent;
  border-right: 178px solid #2a356d;
  border-bottom: 69px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 16vh;
  left: 46vw;
  -webkit-transform: rotate(290deg);
          transform: rotate(290deg);
  -webkit-animation: 100s move25 infinite linear alternate;
          animation: 100s move25 infinite linear alternate;
}

@-webkit-keyframes move25 {
  0% {
    top: 16vh;
    left: 46vw;
    -webkit-transform: rotate(279deg);
            transform: rotate(279deg);
  }
  100% {
    top: 20vh;
    left: 48vw;
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
}

@keyframes move25 {
  0% {
    top: 16vh;
    left: 46vw;
    -webkit-transform: rotate(279deg);
            transform: rotate(279deg);
  }
  100% {
    top: 20vh;
    left: 48vw;
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
}

.fondo-div {
  background-color: #2b2d42;
}
/*# sourceMappingURL=App.css.map */