.App {
  text-align: center;
  height: 100vh;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(23%2c 17%2c 77%2c 1)'%3e%3c/rect%3e%3cpath d='M832.3049787988588 186.7911953870385L820.2652975502074 301.3411106993771 946.8548941111974 198.83087663568986z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M400.5427185803988 385.4635839052134L324.06356105115816 366.3951882993188 333.7005464069366 490.64812239612706z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M690.5693541148914 489.84616105665293L742.4193161097555 403.5533331479465 587.0550932492638 368.9248041100036z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M736.0575841040945 95.55106833330433L736.0575841040945 193.06399076660483 833.570506537395 95.5510683333043z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1041.7047175358186 129.9927893984123L984.2159818467562 203.57501558898724 1123.33368897715 253.01700602729323z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1388.4936448334752 492.430059515623L1395.6851310596978 389.5870151046711 1237.8248213301586 430.22130797081303z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1265.0286673351025 299.44548556893767L1315.9239245528172 381.0679140609533 1356.689303166554 307.5252242800515z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M168.85348275507928 269.33497580588767L212.5396341646438 383.1412911215017 282.6597980706933 225.64882439632316z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1198.2541715265459 276.4016172045423L1171.2594729870007 188.1059368012809 1109.9584911232846 303.3963157440875z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M576.6901527607946 164.53999549640199L514.2322876396661 183.63528116233772 574.1041486991339 267.77443601106273z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M252.3268204344622 389.7567275308222L280.8854048377399 301.8624424678247 164.43253537146467 361.19814312754454z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M742.2891629644604 80.08322917622894L592.4474594755827 98.33653862822581 670.007787047387 205.08917124387895z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M841.5291746304474-0.5554390994769776L859.367060656409 66.01645784903445 950.3059630661953 5.973680335836406z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M308.17901224771026 447.5502411231316L390.0677057571086 448.9796135852251 351.26741769554957 325.43188709008086z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M597.1553301187251 86.21206552063754L506.1367402318033 171.088273709169 682.0315383072566 177.2306554075594z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  display: flex;
  align-items: center;
  justify-content:center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
