@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .circulo {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.wrapper {
  background-color: #221A4D;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.wrapper-gg {
  background-color: #570602;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.final {
  color: #FEBF1A;
  -webkit-animation: 3s textfinal ease infinite alternate;
          animation: 3s textfinal ease infinite alternate;
  z-index: 99;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes textfinal {
  0% {
    color: #FEBF1A;
  }
  50% {
    color: #F59D1D;
  }
  100% {
    color: #F37A1E;
  }
}

@keyframes textfinal {
  0% {
    color: #FEBF1A;
  }
  50% {
    color: #F59D1D;
  }
  100% {
    color: #F37A1E;
  }
}

.App {
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.up {
  z-index: 9999;
}

.timer {
  font-family: 'Roboto' !important;
  font-weight: 900 !important;
  font-size: 30px;
}

.value {
  font-family: 'Roboto' !important;
  font-weight: 900 !important;
  font-size: 50px;
}

.empezando {
  font-size: 50px;
}

.empezando::after {
  content: "";
  -webkit-animation: 2s puntos linear infinite;
          animation: 2s puntos linear infinite;
}

.logoF {
  -webkit-animation: 1s aumento ease infinite alternate;
          animation: 1s aumento ease infinite alternate;
}

@-webkit-keyframes aumento {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes aumento {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@-webkit-keyframes puntos {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes puntos {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

span.square {
  background-color: #db4040;
  width: 70%;
  height: 100%;
  border-right: 142px solid #db4040;
  opacity: 0.5;
  position: absolute;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  -webkit-animation: leftright 50s ease infinite alternate;
          animation: leftright 50s ease infinite alternate;
}

@-webkit-keyframes leftright {
  0% {
    left: 40%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
  50% {
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
  }
  100% {
    left: 60%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
}

@keyframes leftright {
  0% {
    left: 40%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
  50% {
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
  }
  100% {
    left: 60%;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
  }
}

span.triangle:nth-child(0) {
  width: 0;
  height: 0;
  border-top: 72px solid transparent;
  border-right: 110px solid #2A356D;
  border-bottom: 78px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 75vh;
  left: 55vw;
  -webkit-transform: rotate(163deg);
          transform: rotate(163deg);
  -webkit-animation: 100s move0 infinite linear alternate;
          animation: 100s move0 infinite linear alternate;
}

@-webkit-keyframes move0 {
  0% {
    top: 75vh;
    left: 55vw;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    top: 1vh;
    left: 14vw;
    -webkit-transform: rotate(155deg);
            transform: rotate(155deg);
  }
}

@keyframes move0 {
  0% {
    top: 75vh;
    left: 55vw;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    top: 1vh;
    left: 14vw;
    -webkit-transform: rotate(155deg);
            transform: rotate(155deg);
  }
}

span.triangle:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 68px solid transparent;
  border-right: 151px solid #2A356D;
  border-bottom: 61px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 9vh;
  left: 42vw;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  -webkit-animation: 100s move1 infinite linear alternate;
          animation: 100s move1 infinite linear alternate;
}

@-webkit-keyframes move1 {
  0% {
    top: 9vh;
    left: 42vw;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  100% {
    top: 55vh;
    left: 72vw;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes move1 {
  0% {
    top: 9vh;
    left: 42vw;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  100% {
    top: 55vh;
    left: 72vw;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

span.triangle:nth-child(2) {
  width: 0;
  height: 0;
  border-top: 76px solid transparent;
  border-right: 197px solid #2A356D;
  border-bottom: 54px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 55vh;
  left: 93vw;
  -webkit-transform: rotate(347deg);
          transform: rotate(347deg);
  -webkit-animation: 100s move2 infinite linear alternate;
          animation: 100s move2 infinite linear alternate;
}

@-webkit-keyframes move2 {
  0% {
    top: 55vh;
    left: 93vw;
    -webkit-transform: rotate(304deg);
            transform: rotate(304deg);
  }
  100% {
    top: 32vh;
    left: 89vw;
    -webkit-transform: rotate(164deg);
            transform: rotate(164deg);
  }
}

@keyframes move2 {
  0% {
    top: 55vh;
    left: 93vw;
    -webkit-transform: rotate(304deg);
            transform: rotate(304deg);
  }
  100% {
    top: 32vh;
    left: 89vw;
    -webkit-transform: rotate(164deg);
            transform: rotate(164deg);
  }
}

span.triangle:nth-child(3) {
  width: 0;
  height: 0;
  border-top: 67px solid transparent;
  border-right: 159px solid #2A356D;
  border-bottom: 75px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 43vh;
  left: 93vw;
  -webkit-transform: rotate(267deg);
          transform: rotate(267deg);
  -webkit-animation: 100s move3 infinite linear alternate;
          animation: 100s move3 infinite linear alternate;
}

@-webkit-keyframes move3 {
  0% {
    top: 43vh;
    left: 93vw;
    -webkit-transform: rotate(156deg);
            transform: rotate(156deg);
  }
  100% {
    top: 59vh;
    left: 54vw;
    -webkit-transform: rotate(217deg);
            transform: rotate(217deg);
  }
}

@keyframes move3 {
  0% {
    top: 43vh;
    left: 93vw;
    -webkit-transform: rotate(156deg);
            transform: rotate(156deg);
  }
  100% {
    top: 59vh;
    left: 54vw;
    -webkit-transform: rotate(217deg);
            transform: rotate(217deg);
  }
}

span.triangle:nth-child(4) {
  width: 0;
  height: 0;
  border-top: 51px solid transparent;
  border-right: 159px solid #2A356D;
  border-bottom: 89px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 59vh;
  left: 80vw;
  -webkit-transform: rotate(156deg);
          transform: rotate(156deg);
  -webkit-animation: 100s move4 infinite linear alternate;
          animation: 100s move4 infinite linear alternate;
}

@-webkit-keyframes move4 {
  0% {
    top: 59vh;
    left: 80vw;
    -webkit-transform: rotate(282deg);
            transform: rotate(282deg);
  }
  100% {
    top: 91vh;
    left: 45vw;
    -webkit-transform: rotate(352deg);
            transform: rotate(352deg);
  }
}

@keyframes move4 {
  0% {
    top: 59vh;
    left: 80vw;
    -webkit-transform: rotate(282deg);
            transform: rotate(282deg);
  }
  100% {
    top: 91vh;
    left: 45vw;
    -webkit-transform: rotate(352deg);
            transform: rotate(352deg);
  }
}

span.triangle:nth-child(5) {
  width: 0;
  height: 0;
  border-top: 74px solid transparent;
  border-right: 132px solid #2A356D;
  border-bottom: 77px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 79vh;
  left: 62vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: 100s move5 infinite linear alternate;
          animation: 100s move5 infinite linear alternate;
}

@-webkit-keyframes move5 {
  0% {
    top: 79vh;
    left: 62vw;
    -webkit-transform: rotate(296deg);
            transform: rotate(296deg);
  }
  100% {
    top: 24vh;
    left: 12vw;
    -webkit-transform: rotate(56deg);
            transform: rotate(56deg);
  }
}

@keyframes move5 {
  0% {
    top: 79vh;
    left: 62vw;
    -webkit-transform: rotate(296deg);
            transform: rotate(296deg);
  }
  100% {
    top: 24vh;
    left: 12vw;
    -webkit-transform: rotate(56deg);
            transform: rotate(56deg);
  }
}

span.triangle:nth-child(6) {
  width: 0;
  height: 0;
  border-top: 68px solid transparent;
  border-right: 198px solid #2A356D;
  border-bottom: 65px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 61vh;
  left: 94vw;
  -webkit-transform: rotate(62deg);
          transform: rotate(62deg);
  -webkit-animation: 100s move6 infinite linear alternate;
          animation: 100s move6 infinite linear alternate;
}

@-webkit-keyframes move6 {
  0% {
    top: 61vh;
    left: 94vw;
    -webkit-transform: rotate(157deg);
            transform: rotate(157deg);
  }
  100% {
    top: 33vh;
    left: 63vw;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

@keyframes move6 {
  0% {
    top: 61vh;
    left: 94vw;
    -webkit-transform: rotate(157deg);
            transform: rotate(157deg);
  }
  100% {
    top: 33vh;
    left: 63vw;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

span.triangle:nth-child(7) {
  width: 0;
  height: 0;
  border-top: 78px solid transparent;
  border-right: 188px solid #2A356D;
  border-bottom: 65px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 47vh;
  left: 20vw;
  -webkit-transform: rotate(154deg);
          transform: rotate(154deg);
  -webkit-animation: 100s move7 infinite linear alternate;
          animation: 100s move7 infinite linear alternate;
}

@-webkit-keyframes move7 {
  0% {
    top: 47vh;
    left: 20vw;
    -webkit-transform: rotate(338deg);
            transform: rotate(338deg);
  }
  100% {
    top: 18vh;
    left: 100vw;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@keyframes move7 {
  0% {
    top: 47vh;
    left: 20vw;
    -webkit-transform: rotate(338deg);
            transform: rotate(338deg);
  }
  100% {
    top: 18vh;
    left: 100vw;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

span.triangle:nth-child(8) {
  width: 0;
  height: 0;
  border-top: 95px solid transparent;
  border-right: 187px solid #2A356D;
  border-bottom: 87px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 74vh;
  left: 33vw;
  -webkit-transform: rotate(168deg);
          transform: rotate(168deg);
  -webkit-animation: 100s move8 infinite linear alternate;
          animation: 100s move8 infinite linear alternate;
}

@-webkit-keyframes move8 {
  0% {
    top: 74vh;
    left: 33vw;
    -webkit-transform: rotate(222deg);
            transform: rotate(222deg);
  }
  100% {
    top: 71vh;
    left: 44vw;
    -webkit-transform: rotate(269deg);
            transform: rotate(269deg);
  }
}

@keyframes move8 {
  0% {
    top: 74vh;
    left: 33vw;
    -webkit-transform: rotate(222deg);
            transform: rotate(222deg);
  }
  100% {
    top: 71vh;
    left: 44vw;
    -webkit-transform: rotate(269deg);
            transform: rotate(269deg);
  }
}

span.triangle:nth-child(9) {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 106px solid #2A356D;
  border-bottom: 66px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 26vh;
  left: 72vw;
  -webkit-transform: rotate(336deg);
          transform: rotate(336deg);
  -webkit-animation: 100s move9 infinite linear alternate;
          animation: 100s move9 infinite linear alternate;
}

@-webkit-keyframes move9 {
  0% {
    top: 26vh;
    left: 72vw;
    -webkit-transform: rotate(201deg);
            transform: rotate(201deg);
  }
  100% {
    top: 50vh;
    left: 1vw;
    -webkit-transform: rotate(241deg);
            transform: rotate(241deg);
  }
}

@keyframes move9 {
  0% {
    top: 26vh;
    left: 72vw;
    -webkit-transform: rotate(201deg);
            transform: rotate(201deg);
  }
  100% {
    top: 50vh;
    left: 1vw;
    -webkit-transform: rotate(241deg);
            transform: rotate(241deg);
  }
}

span.triangle:nth-child(10) {
  width: 0;
  height: 0;
  border-top: 90px solid transparent;
  border-right: 112px solid #2A356D;
  border-bottom: 57px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 93vh;
  left: 93vw;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: 100s move10 infinite linear alternate;
          animation: 100s move10 infinite linear alternate;
}

@-webkit-keyframes move10 {
  0% {
    top: 93vh;
    left: 93vw;
    -webkit-transform: rotate(32deg);
            transform: rotate(32deg);
  }
  100% {
    top: 54vh;
    left: 30vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes move10 {
  0% {
    top: 93vh;
    left: 93vw;
    -webkit-transform: rotate(32deg);
            transform: rotate(32deg);
  }
  100% {
    top: 54vh;
    left: 30vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

span.triangle:nth-child(11) {
  width: 0;
  height: 0;
  border-top: 58px solid transparent;
  border-right: 117px solid #2A356D;
  border-bottom: 62px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 59vh;
  left: 65vw;
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
  -webkit-animation: 100s move11 infinite linear alternate;
          animation: 100s move11 infinite linear alternate;
}

@-webkit-keyframes move11 {
  0% {
    top: 59vh;
    left: 65vw;
    -webkit-transform: rotate(278deg);
            transform: rotate(278deg);
  }
  100% {
    top: 28vh;
    left: 34vw;
    -webkit-transform: rotate(269deg);
            transform: rotate(269deg);
  }
}

@keyframes move11 {
  0% {
    top: 59vh;
    left: 65vw;
    -webkit-transform: rotate(278deg);
            transform: rotate(278deg);
  }
  100% {
    top: 28vh;
    left: 34vw;
    -webkit-transform: rotate(269deg);
            transform: rotate(269deg);
  }
}

span.triangle:nth-child(12) {
  width: 0;
  height: 0;
  border-top: 97px solid transparent;
  border-right: 139px solid #2A356D;
  border-bottom: 97px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 10vh;
  left: 79vw;
  -webkit-transform: rotate(196deg);
          transform: rotate(196deg);
  -webkit-animation: 100s move12 infinite linear alternate;
          animation: 100s move12 infinite linear alternate;
}

@-webkit-keyframes move12 {
  0% {
    top: 10vh;
    left: 79vw;
    -webkit-transform: rotate(222deg);
            transform: rotate(222deg);
  }
  100% {
    top: 4vh;
    left: 32vw;
    -webkit-transform: rotate(259deg);
            transform: rotate(259deg);
  }
}

@keyframes move12 {
  0% {
    top: 10vh;
    left: 79vw;
    -webkit-transform: rotate(222deg);
            transform: rotate(222deg);
  }
  100% {
    top: 4vh;
    left: 32vw;
    -webkit-transform: rotate(259deg);
            transform: rotate(259deg);
  }
}

span.triangle:nth-child(13) {
  width: 0;
  height: 0;
  border-top: 73px solid transparent;
  border-right: 171px solid #2A356D;
  border-bottom: 96px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 15vh;
  left: 88vw;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: 100s move13 infinite linear alternate;
          animation: 100s move13 infinite linear alternate;
}

@-webkit-keyframes move13 {
  0% {
    top: 15vh;
    left: 88vw;
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
  100% {
    top: 73vh;
    left: 20vw;
    -webkit-transform: rotate(244deg);
            transform: rotate(244deg);
  }
}

@keyframes move13 {
  0% {
    top: 15vh;
    left: 88vw;
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
  100% {
    top: 73vh;
    left: 20vw;
    -webkit-transform: rotate(244deg);
            transform: rotate(244deg);
  }
}

span.triangle:nth-child(14) {
  width: 0;
  height: 0;
  border-top: 65px solid transparent;
  border-right: 190px solid #2A356D;
  border-bottom: 65px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 41vh;
  left: 74vw;
  -webkit-transform: rotate(263deg);
          transform: rotate(263deg);
  -webkit-animation: 100s move14 infinite linear alternate;
          animation: 100s move14 infinite linear alternate;
}

@-webkit-keyframes move14 {
  0% {
    top: 41vh;
    left: 74vw;
    -webkit-transform: rotate(134deg);
            transform: rotate(134deg);
  }
  100% {
    top: 22vh;
    left: 70vw;
    -webkit-transform: rotate(328deg);
            transform: rotate(328deg);
  }
}

@keyframes move14 {
  0% {
    top: 41vh;
    left: 74vw;
    -webkit-transform: rotate(134deg);
            transform: rotate(134deg);
  }
  100% {
    top: 22vh;
    left: 70vw;
    -webkit-transform: rotate(328deg);
            transform: rotate(328deg);
  }
}

span.triangle:nth-child(15) {
  width: 0;
  height: 0;
  border-top: 84px solid transparent;
  border-right: 155px solid #2A356D;
  border-bottom: 63px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 34vh;
  left: 76vw;
  -webkit-transform: rotate(188deg);
          transform: rotate(188deg);
  -webkit-animation: 100s move15 infinite linear alternate;
          animation: 100s move15 infinite linear alternate;
}

@-webkit-keyframes move15 {
  0% {
    top: 34vh;
    left: 76vw;
    -webkit-transform: rotate(178deg);
            transform: rotate(178deg);
  }
  100% {
    top: 39vh;
    left: 60vw;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
}

@keyframes move15 {
  0% {
    top: 34vh;
    left: 76vw;
    -webkit-transform: rotate(178deg);
            transform: rotate(178deg);
  }
  100% {
    top: 39vh;
    left: 60vw;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
}

span.triangle:nth-child(16) {
  width: 0;
  height: 0;
  border-top: 64px solid transparent;
  border-right: 109px solid #2A356D;
  border-bottom: 77px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 55vh;
  left: 22vw;
  -webkit-transform: rotate(357deg);
          transform: rotate(357deg);
  -webkit-animation: 100s move16 infinite linear alternate;
          animation: 100s move16 infinite linear alternate;
}

@-webkit-keyframes move16 {
  0% {
    top: 55vh;
    left: 22vw;
    -webkit-transform: rotate(318deg);
            transform: rotate(318deg);
  }
  100% {
    top: 11vh;
    left: 58vw;
    -webkit-transform: rotate(11deg);
            transform: rotate(11deg);
  }
}

@keyframes move16 {
  0% {
    top: 55vh;
    left: 22vw;
    -webkit-transform: rotate(318deg);
            transform: rotate(318deg);
  }
  100% {
    top: 11vh;
    left: 58vw;
    -webkit-transform: rotate(11deg);
            transform: rotate(11deg);
  }
}

span.triangle:nth-child(17) {
  width: 0;
  height: 0;
  border-top: 52px solid transparent;
  border-right: 138px solid #2A356D;
  border-bottom: 60px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 9vh;
  left: 58vw;
  -webkit-transform: rotate(258deg);
          transform: rotate(258deg);
  -webkit-animation: 100s move17 infinite linear alternate;
          animation: 100s move17 infinite linear alternate;
}

@-webkit-keyframes move17 {
  0% {
    top: 9vh;
    left: 58vw;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  100% {
    top: 82vh;
    left: 55vw;
    -webkit-transform: rotate(143deg);
            transform: rotate(143deg);
  }
}

@keyframes move17 {
  0% {
    top: 9vh;
    left: 58vw;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  100% {
    top: 82vh;
    left: 55vw;
    -webkit-transform: rotate(143deg);
            transform: rotate(143deg);
  }
}

span.triangle:nth-child(18) {
  width: 0;
  height: 0;
  border-top: 61px solid transparent;
  border-right: 196px solid #2A356D;
  border-bottom: 92px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 12vh;
  left: 70vw;
  -webkit-transform: rotate(128deg);
          transform: rotate(128deg);
  -webkit-animation: 100s move18 infinite linear alternate;
          animation: 100s move18 infinite linear alternate;
}

@-webkit-keyframes move18 {
  0% {
    top: 12vh;
    left: 70vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  100% {
    top: 33vh;
    left: 33vw;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
}

@keyframes move18 {
  0% {
    top: 12vh;
    left: 70vw;
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  100% {
    top: 33vh;
    left: 33vw;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
}

span.triangle:nth-child(19) {
  width: 0;
  height: 0;
  border-top: 92px solid transparent;
  border-right: 193px solid #2A356D;
  border-bottom: 88px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 90vh;
  left: 38vw;
  -webkit-transform: rotate(118deg);
          transform: rotate(118deg);
  -webkit-animation: 100s move19 infinite linear alternate;
          animation: 100s move19 infinite linear alternate;
}

@-webkit-keyframes move19 {
  0% {
    top: 90vh;
    left: 38vw;
    -webkit-transform: rotate(118deg);
            transform: rotate(118deg);
  }
  100% {
    top: 93vh;
    left: 42vw;
    -webkit-transform: rotate(112deg);
            transform: rotate(112deg);
  }
}

@keyframes move19 {
  0% {
    top: 90vh;
    left: 38vw;
    -webkit-transform: rotate(118deg);
            transform: rotate(118deg);
  }
  100% {
    top: 93vh;
    left: 42vw;
    -webkit-transform: rotate(112deg);
            transform: rotate(112deg);
  }
}

span.triangle:nth-child(20) {
  width: 0;
  height: 0;
  border-top: 73px solid transparent;
  border-right: 166px solid #2A356D;
  border-bottom: 97px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 67vh;
  left: 58vw;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  -webkit-animation: 100s move20 infinite linear alternate;
          animation: 100s move20 infinite linear alternate;
}

@-webkit-keyframes move20 {
  0% {
    top: 67vh;
    left: 58vw;
    -webkit-transform: rotate(333deg);
            transform: rotate(333deg);
  }
  100% {
    top: 54vh;
    left: 93vw;
    -webkit-transform: rotate(334deg);
            transform: rotate(334deg);
  }
}

@keyframes move20 {
  0% {
    top: 67vh;
    left: 58vw;
    -webkit-transform: rotate(333deg);
            transform: rotate(333deg);
  }
  100% {
    top: 54vh;
    left: 93vw;
    -webkit-transform: rotate(334deg);
            transform: rotate(334deg);
  }
}

span.triangle:nth-child(21) {
  width: 0;
  height: 0;
  border-top: 61px solid transparent;
  border-right: 123px solid #2A356D;
  border-bottom: 67px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 31vh;
  left: 45vw;
  -webkit-transform: rotate(281deg);
          transform: rotate(281deg);
  -webkit-animation: 100s move21 infinite linear alternate;
          animation: 100s move21 infinite linear alternate;
}

@-webkit-keyframes move21 {
  0% {
    top: 31vh;
    left: 45vw;
    -webkit-transform: rotate(71deg);
            transform: rotate(71deg);
  }
  100% {
    top: 86vh;
    left: 41vw;
    -webkit-transform: rotate(246deg);
            transform: rotate(246deg);
  }
}

@keyframes move21 {
  0% {
    top: 31vh;
    left: 45vw;
    -webkit-transform: rotate(71deg);
            transform: rotate(71deg);
  }
  100% {
    top: 86vh;
    left: 41vw;
    -webkit-transform: rotate(246deg);
            transform: rotate(246deg);
  }
}

span.triangle:nth-child(22) {
  width: 0;
  height: 0;
  border-top: 64px solid transparent;
  border-right: 159px solid #2A356D;
  border-bottom: 89px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 59vh;
  left: 82vw;
  -webkit-transform: rotate(103deg);
          transform: rotate(103deg);
  -webkit-animation: 100s move22 infinite linear alternate;
          animation: 100s move22 infinite linear alternate;
}

@-webkit-keyframes move22 {
  0% {
    top: 59vh;
    left: 82vw;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
  100% {
    top: 21vh;
    left: 87vw;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
}

@keyframes move22 {
  0% {
    top: 59vh;
    left: 82vw;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
  100% {
    top: 21vh;
    left: 87vw;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
  }
}

span.triangle:nth-child(23) {
  width: 0;
  height: 0;
  border-top: 93px solid transparent;
  border-right: 196px solid #2A356D;
  border-bottom: 100px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 16vh;
  left: 79vw;
  -webkit-transform: rotate(334deg);
          transform: rotate(334deg);
  -webkit-animation: 100s move23 infinite linear alternate;
          animation: 100s move23 infinite linear alternate;
}

@-webkit-keyframes move23 {
  0% {
    top: 16vh;
    left: 79vw;
    -webkit-transform: rotate(132deg);
            transform: rotate(132deg);
  }
  100% {
    top: 46vh;
    left: 49vw;
    -webkit-transform: rotate(254deg);
            transform: rotate(254deg);
  }
}

@keyframes move23 {
  0% {
    top: 16vh;
    left: 79vw;
    -webkit-transform: rotate(132deg);
            transform: rotate(132deg);
  }
  100% {
    top: 46vh;
    left: 49vw;
    -webkit-transform: rotate(254deg);
            transform: rotate(254deg);
  }
}

span.triangle:nth-child(24) {
  width: 0;
  height: 0;
  border-top: 54px solid transparent;
  border-right: 113px solid #2A356D;
  border-bottom: 97px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 68vh;
  left: 42vw;
  -webkit-transform: rotate(151deg);
          transform: rotate(151deg);
  -webkit-animation: 100s move24 infinite linear alternate;
          animation: 100s move24 infinite linear alternate;
}

@-webkit-keyframes move24 {
  0% {
    top: 68vh;
    left: 42vw;
    -webkit-transform: rotate(173deg);
            transform: rotate(173deg);
  }
  100% {
    top: 17vh;
    left: 10vw;
    -webkit-transform: rotate(39deg);
            transform: rotate(39deg);
  }
}

@keyframes move24 {
  0% {
    top: 68vh;
    left: 42vw;
    -webkit-transform: rotate(173deg);
            transform: rotate(173deg);
  }
  100% {
    top: 17vh;
    left: 10vw;
    -webkit-transform: rotate(39deg);
            transform: rotate(39deg);
  }
}

span.triangle:nth-child(25) {
  width: 0;
  height: 0;
  border-top: 64px solid transparent;
  border-right: 177px solid #2A356D;
  border-bottom: 67px solid transparent;
  opacity: 0.5;
  position: absolute;
  top: 84vh;
  left: 37vw;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  -webkit-animation: 100s move25 infinite linear alternate;
          animation: 100s move25 infinite linear alternate;
}

@-webkit-keyframes move25 {
  0% {
    top: 84vh;
    left: 37vw;
    -webkit-transform: rotate(169deg);
            transform: rotate(169deg);
  }
  100% {
    top: 59vh;
    left: 37vw;
    -webkit-transform: rotate(348deg);
            transform: rotate(348deg);
  }
}

@keyframes move25 {
  0% {
    top: 84vh;
    left: 37vw;
    -webkit-transform: rotate(169deg);
            transform: rotate(169deg);
  }
  100% {
    top: 59vh;
    left: 37vw;
    -webkit-transform: rotate(348deg);
            transform: rotate(348deg);
  }
}
/*# sourceMappingURL=App.css.map */